/*selector general*/
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 100vh;/*para coupar el 100% de la ventana*/
  background: url(images/biblioteca.jpg) no-repeat center center/cover;
 
}

.contenido-centrado {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/*contenedor*/

.contenedor {
  width: 80vw;/*80% del ancho de la pagina*/
  max-width: 600px;
  min-height: 500px;
  padding: 20px;
  background-color: aliceblue;
  border: 5px solid black;
  border-radius: 30px;
}

.contenedor-interno {
  width: 80%;
}

#titulo {
  width: 100%; /*para que ocupe el 100% del contenedor interno*/
  font-weight: bold;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

#cita {
  font-size: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}


#autor {
  font-size: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  font-family: 'Dancing Script', cursive;
}

#btn-cambiar-citas{
  font-size: 20px;
  width: 50%;
  height: 50px;
}

#btn-cambiar-citas:hover {
  background-color: rgb(112, 174, 255);
  border-color: aliceblue;
}